
body {
	background-image: url("../images/batman_background_1.jpg");
	background-color: #cccccc;
	font-family: Oldtown,fantasy;
	color: gold;
	margin: 0 auto;
	

}


#gameRPg{

	font-size: 50px;
	text-align: center;
	color: red;
	line-height: 65px;
}


#character_img_1,#character_img_2,#character_img_3,#character_img_4 {

	height: 90px;
	width: 175px;
	/*border: solid 0.5px;
*/
}

#characterDiv-1, #characterDiv-2,#characterDiv-3,#characterDiv-4

{
	height: 140px;
	width: 205px;
	border: solid 3px white;
	text-align: center;
	padding: 5px;
	margin-left: 15px;
}

#initialCharacters{

	max-width: 1200px;
	
}

#yourCharacter,#defender_div

{

	max-width: 960px;
	height: 185px;
	padding: 2px;
	margin-left: 15px;

}

#enemiesAvailable

{
	max-width: 960px;
	padding: 2px;
	margin-left: 15px;
}

#defenderID{

	margin-left: 15px;
}


h1 {

	font-size: 20px;
}

.redcolor {

	color: red;
}

.btn-group {

	margin-left: 15px;
	height: 50px;
}